@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');


body {
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
}

.navbar {
    top: -2%;
    padding: 0;
}

.container-fluid {
    background: #E6A4B4;
    border-color: #E6A4B4;
    margin-bottom:0.2rem;
   
}

.navbar-brand {
    margin-top:14px;
}

#navbarSupportedContent {
    margin-top:5px;
}

#myname:hover{
    color:rgb(78, 47, 97);
}

#aboutme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#aboutme:hover{
    color:rgb(114, 92, 128);
}

#contactme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#contactme:hover{
    color:rgb(114, 92, 128);
}

#myprojects {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#myprojects:hover{
    color:rgb(114, 92, 128);
}

.itemDrop:hover {
    background: #F3D7CA;
}

#disabledNav {
    font-size: 18px;
    color: rgb(142, 129, 153);
    margin-top: 15px;
}

#imgLinkedin {
    /* margin-top: 1%;
    margin-right: 1.5%; */
    float: right;
}

#imgGithub {
    /* margin-top: 1%;
    margin-right: 1.5%; */
    float: right;
}

.about-section {
    text-align: center;
    background: rgb(200, 107, 133, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    /* width: 57%;
    margin-left: 23%;
    margin-top: -0.3%; */
    border-radius: 4px;
}

#mainHeader {
    text-align: center;
    color: black;
    font-family: "Dancing Script", serif;
    font-size: 8vh;
}

#secondaryHeader{
    text-align: center;
    color:black;
    margin-top: 2vh;
    margin-left: 5vw;
    font-family: "Handlee" , serif;
    font-size: 3vh;
}

.me-img-container{
    padding-bottom: 50px;
}

#me-img {
    width: 20%;
    height: auto;
    border: groove 1.5px rgb(19, 62, 79);
    box-shadow: rgba(253, 251, 251, 0.7) 7px 7px 5px;
    border-radius: 4px;
    content: "";
    clear: both;
}

#about-description-container, #skills, #brag, #courses {
    border: groove 1.5px rgb(19, 62, 79);
    box-shadow: rgba(253, 251, 251, 0.7) 7px 7px 5px;
    padding: 5px;
    background: rgba(230, 164, 180, 0.9);
    color: white;
    border-radius:4px;
    font-family: "Handlee" , serif;
    font-size: 110%;
}

#about-description-container {
    padding-top: 10px;
}


#skills > h3 {
    font-family: "Dancing Script", serif;
    font-size: 200%;
    color:#af506b;
}

#brag > h3 {
    font-family: "Dancing Script", serif;
    font-size: 200%;
    color:#af506b;
}


#languages1-img {
    margin-left: 0.5%;
    margin-top: 1%;
}

#courses {
    border: groove 1.5px rgb(19, 62, 79);
    box-shadow: rgba(253, 251, 251, 0.7) 7px 7px 5px;
    padding: 5px;
    background: rgba(230, 164, 180, 0.9);
    color: white;
    border-radius:4px;
    font-family: "Handlee" , serif;
}

#courses-title {
    font-family: "Dancing Script", serif;
    font-size: 200%;
    color:#af506b;
}

#front {
    text-decoration: none;
    color:#af506b; 
}

#front:hover {
    text-decoration: none;
    color:#bf627f;
}

#python {
    text-decoration: none;
    color:#af506b; 
}

#python:hover {
    text-decoration: none;
    color:#bf627f;
}

#typescript {
    text-decoration: none;
    color:#af506b; 
}

#typescript:hover {
    text-decoration: none;
    color:#bf627f;
}

.source {
    font-weight: 600;
    margin-top: 1vh;
}

footer {
    text-align:center;
    margin-top: 7vh;
    margin-left: 4vw;
}
 
@media (min-width: 320px) { /*Mobile -small */
    .about-section {
        width: 100%;
        margin-left: 0%;
        
    }
    #imgLinkedin {
        margin-top: -1%;
        margin-right: 2%;
        float: right;
        padding-bottom: 4%;
    }

    #imgGithub {
        margin-top: -1%;
        margin-right: 2%;
        float: right;
    }

    
    #about-description-container {
       padding-top: 10px;
    }       

    .second-row {

    }

    #courses {

    }

    #languages1-img{
        margin-top: -30%;
        width: 80%;
    }
    
    footer {
    
    }
}

@media (min-width: 375px) { /*Mobile - medium*/
    .about-section {
        width: 100%;
        margin-left: 0%;
        
    }
    #imgLinkedin {
        margin-top: 0%;
        margin-right: 2%;
        float: right;
        padding-bottom: 4%;
    }

    #imgGithub {
        margin-top: 0%;
        margin-right: 2%;
        float: right;
    }

    
    #about-description-container {
       padding-top: 10px;
    }       

    .second-row {

    }

    #courses {

    }

    #languages1-img{
        margin-top: -30%;
        width: 80%;
    }
    
    footer {
    
    }
}

@media (min-width:425px) { /*Mobile - big & Tablet - portrait */
    .about-section {
        width: 57%;
        
    }
    
    #imgLinkedin {
        margin-top: 0%;
        margin-right: 2%;
        float: right;
        padding-bottom: 4%;
    }

    #imgGithub {
        margin-top: 0%;
        margin-right: 2%;
        float: right;
    }

    
    #about-description-container {
       padding-top: 10px;
    }       

    

    #languages1-img{
        margin-top: -30%;
        width: 80%;
    }
    
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { /*Tablets - landscape*/  /*V*/
  
    .about-section {
        width: 100%;
        margin-left: 0%;
        
    }
    #imgLinkedin {
        margin-top: 1%;
        margin-right: 2%;
        float: right;
        padding-bottom: 4%;
    }

    #imgGithub {
        margin-top: 1%;
        margin-right: 2%;
        float: right;
    }

    
    #about-description-container {
       padding-top: 10px;
    }       

    .second-row {

    }

    #courses {

    }

    #languages1-img{
        margin-top: -30%;
        width: 80%;
    }
    
    footer {
    
    }
    
  }

@media screen and (min-width: 1024px){ /*Laptop + Desktop*/  /* V */
    

    .about-section {
        width: 57%;
        margin-left: 23%;
        margin-top: -0.3%;
    }

    /* #imgLinkedin {
        margin-top: 0%;
        margin-right: 2;
        float: right;
        padding-bottom: 4%;
    }

    #imgGithub {
        margin-top: 0%;
        margin-right: 2%;
        float: right;
    } */

    
    #about-description-container {
       padding-top: 10px;
    }       
    #about-description-container {
        min-width: 57%;
        max-width: 57%;
        float: right;
        margin-top: 2%;
        margin-right: 20%;
    }

    #skills {
        max-width: 23.6%;
        min-width: 23.6%;
        float: left;
        margin-left: 23.4%;
        margin-top: -12%;
    }

    #brag {
        width: 30%;
        height: 70%;
        float: right;
        margin-right: 20%;
        margin-top: -12%;
    }

    #courses {
        margin-left: 23.5%;
        width: 57%;
        margin-top:5.5%;

    }
    .second-row {

    }

    #courses {

    }

    #languages1-img{
        margin-top:0%;
        width: 50%;
    }
    
    #me-img {
        margin-top: 2%;
    }
}

@media screen and (min-width: 1440px){ /*Laptop + Desktop*/ /* V */
    .about-section {
        width: 57%;
        margin-left: 23%;
        margin-top: -0.3%;
    }

    #imgLinkedin {
        margin-top: -1%;
        margin-right: 2;
        float: right;
        padding-bottom: 4%;
    }

    #imgGithub {
        margin-top: -1%;
        margin-right: 1%;
        float: right;
    }

    #about-description-container {
       padding-top: 10px;
    }       
    #about-description-container {
        min-width: 57%;
        max-width: 57%;
        float: right;
        margin-top: 2%;
        margin-right: 20%;
        font-size: 130%;
    }

    #skills {
        max-width: 23.6%;
        min-width: 23.6%;
        float: left;
        margin-left: 23.4%;
        
        font-size:130%;
    }

    #brag {
        width: 30%;
        height: 70%;
        float: right;
        margin-right: 20%;
       
        font-size: 130%;
    }

    #courses {
        margin-left: 23.5%;
        width: 57%;
        margin-top:5.5%;
        font-size: 130%;

    }
    .second-row {
        margin-top: -5%;
    }

    #courses {
        margin-top: -1%;
    }

    #languages1-img{
        margin-top:0%;
        width: 50%;
    }
    
    #me-img {
        margin-top: 2%;
    }
}


  

