@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');


body {
    background: #d4d4d4;
}

.container-fluid {
    background: #E6A4B4;
    padding-bottom:5px;
    padding-top: 22px;
    position: fixed;
}

#searchPlace {
    margin-top: 5px;
}

.navbar-brand {
    margin-top:14px;
}

#navbarSupportedContent {
    margin-top:5px;
}

#myname:hover{
    color:rgb(78, 47, 97)
}

#aboutme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#aboutme:hover{
    color:rgb(114, 92, 128);
}

#contactme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#contactme:hover{
    color:rgb(114, 92, 128)
}

#myprojects {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#myprojects:hover{
    color:rgb(114, 92, 128)
}

.itemDrop:hover {
    background: #F3D7CA;
}

#disabledNav {
    font-size: 18px;
    color: rgb(142, 129, 153);
    margin-top: 15px;
}

#searchBtn {
    background:#e7879f;
    margin-top:5px;
}

#searchBtn:hover {
    background:rgb(238, 143, 176);
    margin-top:5px;
    border-color:#C86B85;
}

#imgLinkedin {
    margin-top: 2.8rem;
    margin-right: 0.8rem;
    float: right;
}

#imgGithub {
    margin-top: 2.8rem;
    margin-right: 0.8rem;
    float: right;
}

#mainHeader {
    text-align: center;
    margin-top: 10vh !important;
    margin-left: -2vw;
    color: black;
    font-family: "Dancing Script", serif;
    font-size: 8vh;
}

#secondaryHeader{
    text-align: center;
    color:black;
    margin-top: 2vh;
    margin-right: 2vw;
    font-family: "Handlee" , serif;
    font-size: 3vh;
}

#line1 {
    color:#C86B85;
    height: 0.5vh;
    margin-top: -0.7vh;
    margin-left: 38vw;
    width: 22vw;
    align-items: center;
}

#myImg {
    margin-top: 10vh;
    margin-left: 4vw;
    float: left;
    width: 16%;
    box-shadow: 0px 0px 15px #97727b;
}
.AboutMe-text{
    margin-left: 1vw;
}

#intro {
    margin-left: 22vw;
    margin-top: 2vh;
    margin-bottom: -1.4vh;
    font-family: "Dancing Script" , serif;
    font-size: 30px;
    color: #bf627f;
}

#about-myself {
    margin-left: 22vw;
    margin-top: 1vh;
    font-size: 20px;
    border-color: #e4a4b4;
    border-style:solid;
    border-radius: 5px;
    padding-left: 1vh;
    padding-top: 1vh;
    width:32%;
    border-width: thin;
    background-color: rgb(238, 235, 235);
    font-family: "Handlee" , serif;
}

#not-to-brag {
    margin-left: 22vw;
    margin-top: 2vh;
    margin-bottom: -4.7vh;
    font-family: "Dancing Script" , serif;
    font-size: 30px;
    color: #bf627f;
    text-align:left;
}

ul {
    padding-left:1.5vh;
}

#my-qualities {
    margin-left: 22vw;
    margin-top: 1.7vh;
    border-color: #e4a4b4;
    border-style:solid;
    border-radius: 5px;
    border-width: thin;
    background-color: rgb(238, 235, 235);
    width:15vw;
    padding-top: 2vh;
    padding-right: 1vw;
    line-height: 1.3vh;
    font-size: 20px;
    text-align:center;
    font-family: "Handlee" , serif;
}

#languages1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}

.courses-knowladge{
    float: right;
    margin-right: 6vw;
    margin-top: 3rem;
}

#knowladge{
    font-family: "Dancing Script" , serif;
    font-size: 30px;
    color: #bf627f;
}

#languages {
    line-height: 1.3vh;
    font-size: 20px;
    font-family: "Handlee" , serif;
    border-color: #e4a4b4;
    border-style:solid;
    border-radius: 5px;
    border-width: thin;
    background-color: rgb(238, 235, 235);
    padding-top: 2vh;
    padding-right:1vw;
    margin-top: -1vh;
    width: 60%;
    text-align: center;
}

#courses{
    font-family: "Dancing Script" , serif;
    font-size: 30px;
    color: #bf627f;
}

#study-courses {
    line-height: 1vh;
    font-size: 20px;
    font-family: "Handlee" , serif;
    border-color: #e4a4b4;
    border-style:solid;
    border-radius: 5px;
    border-width: thin;
    background-color: rgb(238, 235, 235);
    padding-top: 2vh;
    padding-right: 1vw;
    margin-top: -1vh;
}

#front {
    text-decoration: none;
    color:#bf627f; 
}

#front:hover {
    text-decoration: none;
    color:#e091a5;
}

#python {
    text-decoration: none;
    color:#bf627f; 
}

#python:hover {
    text-decoration: none;
    color:#e091a5;
}

#typescript {
    text-decoration: none;
    color:#bf627f; 
}

#typescript:hover {
    text-decoration: none;
    color:#e091a5;
}

.source {
    font-weight: 600;
    margin-top: 3px;
}

#flower-img {
    position:absolute;
    margin-left: 34vw;
    margin-top: -31vh;
}

footer {
    text-align: center;
    margin-top: 2vh;
    color: black;
}