@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');

body {
    overflow-x: hidden;
}
* { /*will be applicated for all the html elements*/
    margin: 0;
    padding: 0;
    
}

.header {
    height: 49vh;
    width: 100%;  

}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-right: -4%;
}

nav img {
    margin-left: -100%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 0.5%;
    margin-right: -1%;
}

.nav-links ul li a {
    color: #ec8ca4;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after {
    content:'';
    width: 0%;
    height: 2px;
    background: white; /*#db9daf;*/
    display:block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*will be at the center of this div*/
    text-align: center;
    font-family: "Dancing Script", serif;
}

.text-box h1 {
    font-size: 60px;
    font-weight: 200;
    margin-top:-50px;
}

#secondaryHeader {
    margin:10px 0 40px;
    font-size: 20px;
    font-family: "Handlee" , serif;
}

.pretty-btn { /*for future use in projects*/
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    cursor: pointer;
}

.pretty-btn:hover {
    border: 1px solid #C86B85;
    background: #C86B85;
    transition: 1s;
}

nav .fa {
    display:none; /*the icons will be hidden from the larger screen devices*/
}

/* about us */

.header {
    height: 49vh;
    width: 100%;  
}

.about-us h1 {
    font-family: "Dancing Script", serif;
    font-size: 30px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.about-col {
    flex-basis: 40%;
    padding: 30px 2px;
}

.about-col img {
    width: 70%;
    border-radius: 5%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.about-row {
    flex-direction: column;
    display:flex;
}

.row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

}
.hero-btn {
    background: white;
    padding: 10px;
    border-radius: 30%;
    border: 1px solid #ec8ca4;
    color:black;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 5%;
}

.hero-btn:hover {
    background: #ec8ca4;
}

/*  blog content */
.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    margin-top: -5%;
}

.blog-left {
    flex-basis: 60%;
}

.blog-left img {
    width: 80%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 42%;
}

.blog-right h3 {
    background: #ec8ca4;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    
    padding-left: 5px;
    
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}


/* footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
}

.footer h4 {
    margin-bottom: 10px;
    margin-top: 5%;
    font-weight: 600;
    font-size: 25px;
}

.footer .icons {
    color: #C86B85;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
}

.footer .icons .fa {
    font-size: 40px;
}

.footer p {
    margin-top: -1%;
}

.header .fa {
    font-size: 23px;
    margin-right:-3%;
    margin-top: -4%;
}




/* -----------mobile :small, medium and large media queries --------*/

@media (max-width:700px) {
    
    /* first page with picture */

    .text-box h1 {
        font-size: 25px;
        margin-top: 3%;
    }

    #secondaryHeader {
        margin:10px 0 40px;
        font-size: 15px;
    }

    /* navbar */

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position:fixed;
        background: #ffffff;
        height: 100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #ec8ca4;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    nav img {
        margin-left: -20%;
    }

    .row {
        flex-direction: column;
    }

    .blog-right {
        margin-top: 5%;
    }

    .about-us {
        margin-top: -20%;
    }

}