@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');

#button-container {
    margin-left: 40%;
    margin-top: 33.5%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(230, 164, 180, 0.9);
    border-radius: 4px;  
}

#button-container:hover{
    background-color: rgba(230, 164, 180, 0.8);
}

a {
    text-decoration: none;
    color: black;
    font-size:180%;
    font-family: "Handlee" , serif;
}

a:hover {
    color: rgb(200, 107, 133);
}

footer {
    text-align: center;
    margin-top: 40%;
    color: black;
}


@media (min-width: 320px) { 
    #button-container {
        margin-top: 10%;
        width: 100%;
        margin-left: 0%;
    }

    footer {
        margin-top: 150%;
    }
}
    
@media (min-width: 375px) {
    #button-container {
        margin-top: 10%;
        width: 100%;
        margin-left: 0%;
    }

    footer {
        margin-top: 125%;
    }
}
    
@media (min-width:425px) { 
    #button-container {
        margin-top: 10%;
        width: 100%;
        margin-left: 0%;
    }

    footer {
        margin-top: 110%;
    }
}
    
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { 
    #button-container {
        margin-top: 10%;
        width: 30%;
        margin-left: 33%;
    }

    footer {
        margin-top: 50%;
    }
}
    
@media screen and (min-width: 1024px){ 
    #button-container {
        margin-top: 5%;
        width: 30%;
        margin-left: 33%;
    }

    footer {
        margin-top: 45%;
    }
}
    
@media screen and (min-width: 1440px){ 
    #button-container {
        margin-top: 2%;
        width: 20%;
        margin-left: 38%;
    }

    footer {
        margin-top: 34%;
    }
}
    