@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');


body {
    background: #d4d4d4;
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-attachment: fixed;
    background-position: center;
}

.container-fluid {
    background: #E6A4B4;
    border-color: #E6A4B4;
    margin-bottom:0.2rem;
    margin-top: 0.2rem;
}

.navbar {
    top: -2%;
}



.navbar-brand {
    margin-top:14px;
}

#navbarSupportedContent {
    margin-top:5px;
}

#myname:hover{
    color:rgb(78, 47, 97);
}

#aboutme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#aboutme:hover{
    color:rgb(114, 92, 128);
}

#contactme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#contactme:hover{
    color:rgb(114, 92, 128);
}

#myprojects {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#myprojects:hover{
    color:rgb(114, 92, 128);
}

.itemDrop:hover {
    background: #F3D7CA;
}

#disabledNav {
    font-size: 18px;
    color: rgb(142, 129, 153);
    margin-top: 15px;
}



#imgGithub {
    margin-top: -1rem;
    margin-right: 2rem;
    float: right;
}

.container {
    margin-left: 0px;
    padding-bottom:10px;
    padding-top: 40px;
    width: 100%;
}

#flower {
    float: right; /*position in the right side of page*/
    position: absolute;
    display: block;
    top: 11%;
    left: 52%;
    
    
}



#contactmeText {
    margin-top: 2vw;
    font-family: "Dancing Script", serif;
    font-size: 90px;
    margin-left: 24vw;
}

.form-control {
    background: rgb(255, 255, 255);
    margin-left: 47vh ;
}

.formLable {
    margin-left: 47vh ;
    font-size: 20px;
    color: #000000;
}

#emailHelp{
    margin-left: 47vh ;
}

.form-check-lable {
    margin-left: 47vh;
    padding-top:5px;
    display: inline-block;
}

.form-check-input {
    border-radius: 1px;
    display:inline-block;
}

.success {
    background:#e77995;
    margin-top:5px;
    color: black;
    margin-left: 47vh !important;
    margin-top: 2vh;
    padding: 1vh;
}

.success:hover {
    background:rgb(238, 143, 176);
    margin-top:5px;
    border-color:#C86B85;
    color:black;
    margin-top: 2vh;
}

#imgContact {
    width: 1.7%;
    float: left; /*position in the left side of page*/
    margin-left:43vh;
    position: absolute;
    margin-top: 0.5vh;
}

#imgName {
    width: 1.3%;
    float: left; /*position in the left side of page*/
    margin-left:43.5vh;
    position: absolute; /*so it wont disturb any other elemnt*/
}

#messageText {
    overflow:scroll;
    overflow-x: hidden;
    position:relative;
    opacity: 0.8;
}

#contact-b {
    margin-left: 4vw;
    margin-top: 9vh;
    position: fixed;
    margin-right: 5vw;
}

#mymail {
    text-decoration: none;
    color:#bf627f; 
}

#mymail:hover {
    text-decoration: none;
    color:#e091a5;
}

#mylinkedin {
    text-decoration: none;
    color:#bf627f; 
}

#mylinkedin:hover {
    text-decoration: none;
    color:#e091a5;
}

#myphone {
    text-decoration: none;
    color:#bf627f; 
}

#myphone:hover {
    text-decoration: none;
    color:#e091a5;
}

#imgMail {
    position: absolute;
    float: left;
    margin-left:-2.5vw;
    margin-top: 0.2vh;
}

#imgLinkedin {
    position: absolute;
    float: left;
    margin-left:-2.5vw;
    margin-top: 0.2vh;
}

#imgPhone {
    position: absolute;
    float: left;
    margin-left:-2.2vw;
    margin-top: 0.5vh;
    height: 8%;
}

.phoneAll {
    margin-top:1.5vh;
}

#airplane{
   
    margin-top: -5vh;
    position:absolute;
}

footer {
    text-align: center;
    top:70%;
    padding-right: 1vw;
    color: black;
}