@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');


body {
    background: #d4d4d4;
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-attachment: fixed;
    background-position: center;
}

.container-fluid {
    background: #E6A4B4;
    border-color: #E6A4B4;
    margin-bottom:0.2rem;
    margin-top: 0.2rem;
}

.navbar {
    top: -2%;
}



.navbar-brand {
    margin-top:14px;
}

#navbarSupportedContent {
    margin-top:5px;
}

#myname:hover{
    color:rgb(78, 47, 97);
}

#aboutme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#aboutme:hover{
    color:rgb(114, 92, 128);
}

#contactme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#contactme:hover{
    color:rgb(114, 92, 128);
}

#myprojects {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#myprojects:hover{
    color:rgb(114, 92, 128);
}

.itemDrop:hover {
    background: #F3D7CA;
}

#disabledNav {
    font-size: 18px;
    color: rgb(142, 129, 153);
    margin-top: 15px;
}



#imgGithub {
    margin-top: -1rem;
    margin-right: 2rem;
    float: right;
}

.container {
    margin-left: 0px;
    padding-bottom:10px;
    padding-top: 40px;
    width: 100%;
}

#flower {
    float: right; /*position in the right side of page*/
    position: absolute;
    display: block;
    top: 11%;
    left: 52%;
    
    
}



#contactmeText {
    margin-top: 2vw;
    font-family: "Dancing Script", serif;
    font-size: 90px;
    margin-left: 24vw;
}

.form-control {
    background: rgb(255, 255, 255);
    margin-left: 47vh ;
}

.formLable {
    margin-left: 47vh ;
    font-size: 20px;
    color: #000000;
}

#emailHelp{
    margin-left: 47vh ;
}

.form-check-lable {
    margin-left: 47vh;
    padding-top:5px;
    display: inline-block;
}

.form-check-input {
    border-radius: 1px;
    display:inline-block;
}

.success {
    background:#e77995;
    margin-top:5px;
    color: black;
    margin-left: 47vh !important;
    margin-top: 2vh;
    padding: 1vh;
}

.success:hover {
    background:rgb(238, 143, 176);
    margin-top:5px;
    border-color:#C86B85;
    color:black;
    margin-top: 2vh;
}

#imgContact {
    width: 1.7%;
    float: left; /*position in the left side of page*/
    margin-left:43vh;
    position: absolute;
    margin-top: 0.5vh;
}

#imgName {
    width: 1.3%;
    float: left; /*position in the left side of page*/
    margin-left:43.5vh;
    position: absolute; /*so it wont disturb any other elemnt*/
}

#messageText {
    overflow:scroll;
    overflow-x: hidden;
    position:relative;
    opacity: 0.8;
}

#contact-b {
    margin-left: 4vw;
    margin-top: 9vh;
    /* position: fixed; */
    margin-right: 5vw;
}

#mymail {
    text-decoration: none;
    color:#bf627f; 
}

#mymail:hover {
    text-decoration: none;
    color:#e091a5;
}

#mylinkedin {
    text-decoration: none;
    color:#bf627f; 
}

#mylinkedin:hover {
    text-decoration: none;
    color:#e091a5;
}

#myphone {
    text-decoration: none;
    color:#bf627f; 
}

#myphone:hover {
    text-decoration: none;
    color:#e091a5;
}

#imgMail {
    position: absolute;
    float: left;
    margin-left:-2.5vw;
    margin-top: 0.2vh;
}

#imgLinkedin {
    position: absolute;
    float: left;
    margin-left:-2.5vw;
    margin-top: 0.2vh;
}

#imgPhone {
    position: absolute;
    float: left;
    margin-left:-2.2vw;
    margin-top: 0.5vh;
    height: 8%;
}

.phoneAll {
    margin-top:1.5vh;
}

#airplane{
    
    margin-top: -5vh;
    position:absolute;
}

footer {
    text-align: center;
    top:70%;
    padding-right: 1vw;
    color: black;
}


@media (min-width: 320px) { /*Mobile -small */
    #imgGithub {
        margin-top: -17%;
        margin-right: 4%;
        float: right;
    }
    
    #contact-b {
        margin-left: 4vw;
        margin-top: 9vh;
        /* s */
        margin-right: 5vw;
    }
    
    #imgMail {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #email-label {
        margin-left: 15%;
    }
    
    
    
    #imgLinkedin {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #linkedin-lable{
        margin-left: 15%;
    }
    
    
    #imgPhone {
        position: absolute;
        float: left;
        margin-left:-2.2vw;
        margin-top: 0.5vh;
        height: 3%;
    }
    
    #phone-lable {
        margin-left: 15%;
    }
    
    
    
    #flower {
        float: right; /*position in the right side of page*/
        position: absolute;
        display: block;
        margin-top: 100%;
        margin-left: 10%;
        width: 30%;
    }
    
    #contactmeText {
        margin-top: -130%;
        font-family: "Dancing Script", serif;
        font-size: 60px;
        margin-left: -3%;
    }
    
    .container-whole {
        margin-top: 90%;
        margin-left: -120%;
    }
    
    #imgContact {
        width: 6%;
    }
    
    #imgName {
        width: 5%;
    }
    
    #emailInput {
        width: 40%;
    }
    
    #nameInput {
        width: 40%;
    }
    #messageText {
        overflow:scroll;
        overflow-x: hidden;
        position:relative;
        opacity: 0.8;
        width: 40%;
    }
    
    .success {
        background:#e77995;
        margin-top:5px;
        color: black;
        margin-left: 47vh !important;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    footer {
        
        margin-top: 10%;
        padding-right: 1vw;
        color: black;
        margin-left: -10%;
    }
}

@media (min-width: 375px) { /*Mobile - medium*/
    #imgGithub {
        margin-top: -22%;
        margin-right: 4%;
        float: right;
    }
    
    #contact-b {
        margin-left: 4vw;
        margin-top: 9vh;
        /* s */
        margin-right: 5vw;
    }
    
    #imgMail {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #email-label {
        margin-left: 10%;
    }
    
    
    
    #imgLinkedin {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #linkedin-lable{
        margin-left: 10%;
    }
    
    #imgPhone {
        position: absolute;
        float: left;
        margin-left:-2.2vw;
        margin-top: 0.5vh;
        height: 3%;
    }
    
    #phone-lable {
        margin-left: 10%;
    }
    
    
    #flower {
        float: right; /*position in the right side of page*/
        position: absolute;
        display: block;
        margin-top: 90%;
        margin-left: 7%;
        width: 33%;
    }
    
    #contactmeText {
        margin-top: -110%;
        font-family: "Dancing Script", serif;
        font-size: 60px;
        margin-left: -3%;
    }
    
    .container-whole {
        margin-top: 80%;
        margin-left: -100%;
    }
    
    #imgContact {
        width: 6%;
    }
    
    #imgName {
        width: 5%;
    }
    
    #emailInput {
        width: 40%;
    }
    
    #nameInput {
        width: 40%;
    }
    #messageText {
        overflow:scroll;
        overflow-x: hidden;
        position:relative;
        opacity: 0.8;
        width: 40%;
    }
    
    .success {
        background:#e77995;
        margin-top:5px;
        color: black;
        margin-left: 47vh !important;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    footer {
        
        margin-top: 10%;
        padding-right: 1vw;
        color: black;
        margin-left: -10%;
    }
}

@media (min-width:425px) { /*Mobile - big & Tablet - portrait */   
    #imgGithub {
        margin-top: -17%;
        margin-right: 4%;
        float: right;
    }
    
    #contact-b {
        margin-left: 4vw;
        margin-top: 9vh;
        /* s */
        margin-right: 5vw;
    }
    
    #imgMail {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #email-label {
        margin-left: 10%;
    }
    
    
    #imgLinkedin {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #linkedin-lable{
        margin-left: 10%;
    }
    
    
    #imgPhone {
        position: absolute;
        float: left;
        margin-left:-2.2vw;
        margin-top: 0.5vh;
        height: 3%;
    }
    
    #phone-lable {
        margin-left: 10%;
    }
    
    
    #flower {
        float: right; /*position in the right side of page*/
        position: absolute;
        display: block;
        margin-top: 75%;
        margin-left: 7%;
        width: 35%;
    }
    
    #contactmeText {
        margin-top: -100%;
        font-family: "Dancing Script", serif;
        font-size: 60px;
        margin-left: -1%;
    }
    
    .container-whole {
        margin-top: 70%;
        margin-left: -90%;
    }
    
    #imgContact {
        width: 6%;
    }
    
    #imgName {
        width: 5%;
    }
    
    #emailInput {
        width: 40%;
    }
    
    #nameInput {
        width: 40%;
    }
    #messageText {
        overflow:scroll;
        overflow-x: hidden;
        position:relative;
        opacity: 0.8;
        width: 40%;
    }
    
    .success {
        background:#e77995;
        margin-top:5px;
        color: black;
        margin-left: 47vh !important;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    footer {
        
        margin-top: 10%;
        padding-right: 1vw;
        color: black;
        margin-left: -10%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { /*Tablets - landscape*/  /*V*/
    #imgGithub {
        margin-top: -5%;
        margin-right: 4%;
        float: right;
    }
    
    #contact-b {
        margin-left: 4vw;
        margin-top: 9vh;
        /* s */
        margin-right: 5vw;
    }
    
    #imgMail {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #email-label {
        margin-left: 3%;
    }
    
    
    
    #imgLinkedin {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #linkedin-lable{
        margin-left: 3%;
    }
    
    
    #imgPhone {
        position: absolute;
        float: left;
        margin-left:-2.2vw;
        margin-top: 0.5vh;
        height: 4%;
    }
    
    #phone-lable {
        margin-left: 3%;
    }
    
    
    #flower {
        float: right; /*position in the right side of page*/
        position: absolute;
        display: block;
        margin-top: 30%;
        margin-left: 3%;
        width: 35%;
    }
    
    #contactmeText {
        margin-top: -55%;
        font-family: "Dancing Script", serif;
        font-size: 60px;
        margin-left: -1%;
    }
    
    .container-whole {
        margin-top: 70%;
        margin-left: -70%;
    }
    
    #imgContact {
        width: 2%;
    }
    
    #imgName {
        width: 2%;
    }
    
    #emailInput {
        width: 80%;
    }
    
    #nameInput {
        width: 80%;
    }
    #messageText {
        overflow:scroll;
        overflow-x: hidden;
        position:relative;
        opacity: 0.8;
        width: 80%;
    }
    
    .success {
        background:#e77995;
        margin-top:5px;
        color: black;
        margin-left: 47vh !important;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    footer {
        
        margin-top: 10%;
        padding-right: 1vw;
        color: black;
        margin-left: -10%;
    }
}

@media screen and (min-width: 1024px){ /*Laptop + Desktop*/  /* V */
    #imgGithub {
        margin-top: -5%;
        margin-right: 4%;
        float: right;
    }
    
    #contact-b {
        margin-left: 4vw;
        margin-top: 9vh;
        /* s */
        margin-right: 5vw;
    }
    
    #imgMail {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #email-label {
        margin-left: 3%;
    }
    
    
    #imgLinkedin {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #linkedin-lable{
        margin-left: 3%;
    }
    
    #imgPhone {
        position: absolute;
        float: left;
        margin-left:-2.2vw;
        margin-top: 0.5vh;
        height: 4%;
    }
    
    #phone-lable {
        margin-left: 3%;
    }
    
    #flower {
        float: right; /*position in the right side of page*/
        position: absolute;
        display: block;
        margin-top: 4%;
        margin-left: 8%;
        width: 20%;
    }
    
    #contactmeText {
        margin-top: -39%;
        font-family: "Dancing Script", serif;
        font-size: 120px;
        margin-left: 1%;
    }
    
    .container-whole {
        margin-top: 1%;
        margin-left: 1%;
    }
    
    #imgContact {
        width: 2%;
    }
    
    #imgName {
        width: 2%;
    }
    
    #emailInput {
        width: 100%;
    }
    
    #nameInput {
        width: 100%;
    }
    #messageText {
        overflow:scroll;
        overflow-x: hidden;
        position:relative;
        opacity: 0.8;
        width: 100%;
    }
    
    .success {
        background:#e77995;
        margin-top:5px;
        color: black;
        margin-left: 47vh !important;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    footer {
        
        margin-top: 2%;
        padding-right: 1vw;
        color: black;
        margin-left: -10%;
    }
}

@media screen and (min-width: 1440px){ /*Laptop + Desktop*/ /* V */
    #imgGithub {
        margin-top: -6%;
        margin-right: 1%;
        float: right;
    }
    
    #contact-b {
        margin-left: 4vw;
        margin-top: 9vh;
        /* s */
        margin-right: 5vw;
    }
    
    #imgMail {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #email-label {
        margin-left: 0%;
    }
    
    
    #imgLinkedin {
        position: absolute;
        float: left;
        margin-left:-2.5vw;
        margin-top: 0.2vh;
    }
    
    #linkedin-lable{
        margin-left: 0%;
    }
    
    
    #imgPhone {
        position: absolute;
        float: left;
        margin-left:-2.2vw;
        margin-top: 0.5vh;
        height: 3%;
    }
    
    #phone-lable {
        margin-left: 0%;
    }
    
    
    #flower {
        float: right; /*position in the right side of page*/
        position: absolute;
        display: block;
        margin-top: -1%;
        margin-left: 3%;
        width: 20%;
    }
    
    #contactmeText {
        margin-top: -37%;
        font-family: "Dancing Script", serif;
        font-size: 120px;
        margin-left: 1%;
    }
    
    .container-whole {
        margin-top: 5%;
        margin-left: -10%;
    }
    
    #imgContact {
        width: 2%;
    }
    
    #imgName {
        width: 1.5%;
    }
    
    #emailInput {
        width: 120%;
    }
    
    #nameInput {
        width: 120%;
    }
    #messageText {
        overflow:scroll;
        overflow-x: hidden;
        position:relative;
        opacity: 0.8;
        width: 120%;
    }
    
    .success {
        background:#e77995;
        margin-top:5px;
        color: black;
        margin-left: 47vh !important;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    footer {
        
        margin-top: 2%;
        padding-right: 1vw;
        color: black;
        margin-left: -10%;
    }
}