@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');

body { /*i dont even know if it does anything*/
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
}

.navbar {
    top: -2%;
}

.container-fluid {
    background: #E6A4B4;
    border-color: #E6A4B4;
    margin-bottom:0.2rem;
    margin-top: 0.2rem;
}

.navbar-brand {
    margin-top:14px;
}

#navbarSupportedContent {
    margin-top:5px;
}

#myname:hover{
    color:rgb(78, 47, 97)
}

#aboutme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#aboutme:hover{
    color:rgb(114, 92, 128);
}

#contactme {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#contactme:hover{
    color:rgb(114, 92, 128)
}

#myprojects {
    font-family: "Handlee" , serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 17px;
}

#myprojects:hover{
    color:rgb(114, 92, 128)
}

.itemDrop:hover {
    background: #F3D7CA;
}

#disabledNav {
    font-size: 18px;
    color: rgb(142, 129, 153);
    margin-top: 15px;
}

#imgLinkedin {
    /* margin-top: -1rem;
    margin-right: 2rem; */
    float: right;
}

#imgGithub {
    /* margin-top: -1rem;
    margin-right: 2rem; */
    float: right;
}

#myNameHeader {
    text-align: center;
    /* margin-top: 23vh;
    margin-left: -2vw; */
    /* margin-top: 35%; */
    color: white;
    font-family: "Dancing Script", serif;
    font-size: 8vh;
    
}

#secondaryHeader {
    text-align: center;
    color:white;
    margin-top: 0rem;
    font-family: "Handlee" , serif;
}

h3 {
    text-align: center;
    color: white;
    font-family: "Handlee" , serif;
}

h3 > a {
    text-decoration: none;
}

footer {
    text-align: center;
    /* margin-top: 42vh; */
    color: black;
}


@media (min-width: 320px) { /*Mobile -small */
    #imgLinkedin {
        margin-top: -5%;
        margin-right: 2%;  
    }
    
    #imgGithub {
        margin-top: -5%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 35%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 60%;
    }
}

@media (min-width: 375px) { /*Mobile - medium*/
    #imgLinkedin {
        margin-top: -4.5%;
        margin-right: 2%;  
    }
    
    #imgGithub {
        margin-top: -4.5%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 33%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 60%;
    }
}

@media (min-width:425px) { /*Mobile - big & Tablet - portrait */
    #imgLinkedin {
        margin-top: -1.5%;
        margin-right: 2%;  
    }
    
    #imgGithub {
        margin-top: -1.5%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 30%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { /*Tablets - landscape*/  /*V*/
  
    #imgLinkedin {
        margin-top: -2%;
        margin-right: 2%;  
    }
    
    #imgGithub {
        margin-top: -2%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 18%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 25%;
    }
    
  }

@media screen and (min-width: 1024px){ /*Laptop + Desktop*/  /* V */
    #imgLinkedin {
        margin-top: -1%;
        margin-right: 2%;  
    }
    
    #imgGithub {
        margin-top: -1%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 11%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 20%;
    }
}

@media screen and (min-width: 1440px){ /*Laptop + Desktop*/ /* V */
    #imgLinkedin {
        margin-top: -1%;
        margin-right: 1%;  
    }
    
    #imgGithub {
        margin-top: -1%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 12%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 25%;
    }
}

@media only screen and (min-width : 2400px) {
    #imgLinkedin {
        margin-top: -1%;
        margin-right: 1%;  
    }
    
    #imgGithub {
        margin-top: -1%;
        margin-right: 1%;
    }

    #myNameHeader {
        text-align: center;
        margin-top: 15%;
        margin-left: -2%;
        font-size: 8vh;
    }
    
    footer {
        margin-top: 25%;
    }
}


  
