body {
    background: rgb(247, 230, 233);
    
}

.container {
    margin-left: 0px;
    padding-bottom:10px;
    padding-top: 40px;
    width: 100%;
}

.form-control {
    background: rgb(250, 241, 242);
}

.container-fluid {
    background: rgb(238, 216, 220);
    padding-bottom:5px;
    padding-top: 25px;
    position: fixed;
}

#btnGoogle {
    margin-top: 35px;
    background: rgb(189, 177, 177);
    color:black;
    border-color:rgb(143, 129, 129);
}

#btnGoogle:hover {
    background: rgb(206, 195, 195);
}

#btnPolicies{
    margin-top:35px;
    background: rgb(189, 177, 177);
    color:black;
    border-color:rgb(143, 129, 129);
}

#btnPolicies:hover {
    background: rgb(206, 195, 195);
}

.btn-success {
    background: rgb(189, 177, 177);
    color:black;
    border-color:rgb(143, 129, 129);
}

.btn-success:hover {
    background: rgb(206, 195, 195);
    color:black;
}


